---
const { image, title, urlDemo, urlCode, text, skills = [] } = Astro.props;
---

<div class="card bg-base-100 shadow-sm w-full h-full relative overflow-hidden">
  <!-- immagine come sfondo -->
  <img
    src={image}
    alt={title}
    class="absolute inset-0 w-full h-full object-cover opacity-80"
  />

  <!-- overlay scuro -->
  <div class="absolute inset-0 bg-black/80"></div>

  <!-- contenuto -->
  <div class="card-body relative z-10 flex flex-col justify-between">
    <div class="flex">
      <h2 class="text-white mb-2 mr-1">{title}</h2>
      <div class="flex flex-wrap gap-1 mb-3">
        {
          skills.map((skill: string) => (
            <span class="badge badge-outline p-2 justify-around text-white border-white">
              {skill}
            </span>
          ))
        }
      </div>
    </div>

    <div>
      <p class="text-white text-sm">{text}</p>
    </div>

    <div class="card-actions justify-end mt-0">
      <a
        href={urlDemo}
        target="_blank"
        class="btn btn-sm bg-[#FFCC4C] hover:bg-[#0012ff] text-black hover:text-white border-0"
        >Demo</a
      >
      <a
        href={urlCode}
        target="_blank"
        class="btn btn-sm bg-[#FFCC4C] hover:bg-[#0012ff] text-black hover:text-white border-0"
        >Code</a
      >
    </div>
  </div>
</div>
