---
const { icon, title, size, color, className } = Astro.props;
---

<div data-tip={title} class="group relative inline-block tooltip tooltip-right">
  <img
    src={icon}
    alt={title}
    width={size}
    height={size}
    style={`fill: ${color};`}
    class={`cursor-pointer ${className}`}
  />
</div>
