---
interface Service {
  title: string;
  description: string;
  icon?: string;
  buttonText: string;
  features: string[];
}

const { services = [], text }: { services?: Service[]; text?: string } =
  Astro.props;
---

<div
  class="flex flex-col items-center justify-between mb-1 h-full xl:items-center text-brazil-white"
>
  <h1 class="text-3xl font-bold mb-3 text-brazil-blue">{text}</h1>

  <div class="grid md:grid-cols-2 gap-6 auto-rows-fr w-full h-full">
    {
      services.map((s) => (
        <div class="card bg-base-100 shadow-sm h-full flex flex-col items-center md:max-h-[calc(100%-1rem)] xl:max-h-[calc(100%-2.2rem)] bg-brazil-blue/60">
          <div class="card-body flex flex-col flex-grow md:p-3 xl:p-6 md:max-h-96 xl:max-h-full overflow-hidden">
            <div class="flex items-center justify-between md:max-h-96">
              <h2 class="text-xl xl:text-2xl font-bold">{s.title}</h2>
              {s.icon && <span class="text-2xl">{s.icon}</span>}
            </div>

            <p class="mt-2 md:mt-1 text-sm xl:text-xl">{s.description}</p>

            <ul class="flex flex-col gap-1 text-sm  flex-grow">
              {s.features
                ? s.features.map((f: string) => (
                    <li>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="size-4 me-2 inline-block text-success"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M5 13l4 4L19 7"
                        />
                      </svg>
                      <span class="text-sm 2xl:text-2xl short:text-sm">
                        {f}
                      </span>
                    </li>
                  ))
                : null}
            </ul>

            <div class="flex justify-center xl:mb-4">
              <a
                href="mailto:a.grianti89@gmail.com"
                target="_blank"
                class="btn btn-md bg-brazil-yellow hover:bg-brazil-green text-black hover:text-white border-0"
              >
                {s.buttonText}
              </a>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</div>
